:root {

}

.container {
    background-color: var(--00dp);
    color: #ddd;
}
aside {
    border-right: 1px solid var(--04dp);
}
aside p {
    color: #ccc;
}

#boxify-header h1 {
    color: var(--boxify-green);
}

/* SEARCH */
#search, #transcripts, #settings, #downloads, #theme {
    border-bottom: 1px solid var(--04dp);
}
input[type="search"] {
    border: 1px solid var(--04dp);
    background-color: var(--01dp);
    color: #ddd;
}
.search-suggestion {
    background-color: var(--01dp);
    border: 1px solid var(--04dp);
}
.search-suggestion:hover {
    background-color: var(--06dp);
    color: var(--boxify-green);
}
#error-messages {
    color: #980000;
}

/* SETTINGS */
#select-transcripts li {
    border: 1px solid var(--04dp);
    border-bottom: none;
    color: #aaa;
}
#select-transcripts li.selected {
    background-color: var(--01dp);
    color: #ddd;
}
#select-transcripts li:last-child {
    border-bottom: 1px solid var(--04dp);
}

input:checked + .slider {
    background-color: var(--boxify-green);
}
.slider {
    background-color: var(--12dp);
}

input[type="color"] {
    background-color: var(--24dp);
}
input[type="color"]:focus {
    border: 1px solid var(--boxify-green);
}

#reset-settings {
    border-top: 1px solid var(--04dp);
}
#reset-settings:hover {
    color: var(--boxify-green);
}

#downloads button {
    border: 1px solid var(--04dp);
    background-color: var(--01dp);
    /* border: 1px solid var(--boxify-green); */
    color: #ccc;
}
#downloads button:hover {
    border: 1px solid var(--boxify-green);
}

#genomic-seq {
    color: black;
}

/* PCR */
.bi-plus-circle-fill {
    color: var(--boxify-green);
}
.pcr {
    background-color: var(--04dp);
}
.pcr input[type="text"] {
    border: 1px solid var(--24dp);
    background-color: var(--01dp);
    color: #ddd;
}
.pcr button {
    background-color: var(--boxify-green);
}

footer {
    border-top: 1px solid var(--04dp);
}
footer a {
    color: var(--boxify-green);
}

/* LOADER */
.loader {
    border: 12px solid var(--01dp);
    border-top: 12px solid var(--boxify-green);
}