@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Prevent text selection of draggable items */
[draggable] {
    user-select: none;
}

/* SIDEBAR */
#select-transcripts {
    width: 100%;
    margin-bottom: 1rem;
}
#select-transcripts .list-group-item {
    padding: .25rem .75rem;
    font-family: sans-serif;
    font-size: 12px;
}
#sticky-sidebar {
    min-height: 100vh;
}
#error_messages { display: none; }

.caret { cursor: pointer; }
#settings { display: none; }
#settings p { font-size: 0.9rem; }
.settings-header { cursor: pointer; }
.settings-content { display: none; }

#size { width: 100%; }

.color-form { margin-bottom: 0rem; }
input[type="color"] {
    width: 23px;
    float: right;
}

#downloads {
    display: none;
}
#download-pcr {
    display: none;
}


/* MAIN */
#main {
    overflow-x: auto;
    white-space: nowrap;
}
#genomic-seq {
    font-family: 'Roboto Mono', monospace;
    overflow-x: scroll;
    margin-left: 125px;
    font-size: 14px;
    margin-top: -25px;
}
.A, .C, .G, .T {
    padding: 0 1px;
}
.A { background: #90ee90; }
.C { background: #b0c4de; }
.G { background: #ffec8b; }
.T { background: #eea2ad; }
#ruler { 
    visibility: hidden; 
    position: absolute;
}
#window {
    position: absolute;
    border: 1px solid red;
    z-index: 3;
}

#primer-search {
    display: none;
}

.PCR {
    display: none;
    font-size: 0.9em;
    margin-top: 1em;
}

.add-primer-button {
    cursor: pointer;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0;
    margin-right: 0.25em;
}

.given-primers {
    display: none;
    padding: 0.5em 0;
    border-top: 5px solid black;
}
.pcr-info { width: 100%; }
.fragment {
    font-size: 0.9em;
    word-break: break-all;
    white-space: normal;
    font-family: Courier New;
    max-height: 5em;
    overflow-y: auto;
    display: none;
}

/* Scroll bar customisation */
::-webkit-scrollbar { 
    height: 5px;
    width: 5px; 
}
::-webkit-scrollbar-track { border-radius: 5px; }
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}
